.manage-comment-btns {
	display: flex;
	gap: 5px;
	justify-content: flex-end;
}

.comment {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 2px black solid;
	width: 500px;
	padding: 10px;
	margin-top: 10px;
	background-color: lightgray;
}

.comment-user {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 10px;
}
