.card-container > img {
	height: 250px;
	width: 250px;
}

.card-container > img:hover {
	cursor: pointer;
}

.card-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.date {
	text-align: right;
	font-weight: lighter;
}
