.album-details-container > img {
	height: 300px;
	width: 300px;
}

.manage-btns {
	display: flex;
	gap: 10px;
}

.btn {
	background-color: green;
	padding: 10px;
	border: darkgreen 3px solid;
	box-shadow: -1px 1px 4px 1px #00ff00;
}

.btn:hover {
	background-color: #00ff00;
	color: green;
	border: lightgreen 3px solid;
}

textarea {
	resize: none
}

.comment {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 2px black solid;
	width: 500px;
	padding: 10px;
	margin-top: 10px;
}

.comment-user {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 10px;
}

.comment button {
	width: fit-content;
}
