.album-details-container > img {
	height: 300px;
	width: 300px;
}

.manage-btns {
	display: flex;
	gap: 10px;
}

.btn {
	background-color: green;
	padding: 10px;
	border: darkgreen 3px solid;
	box-shadow: -1px 1px 4px 1px #00ff00;
}

.btn:hover {
	background-color: #00ff00;
	color: green;
	border: lightgreen 3px solid;
}

.comment {
	list-style: none;
	border: 5px black solid;
	width: fit-content;
	padding: 10px;
	margin-top: 10px;
}
